<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <!-- Here goes the config things -->

    <!-- CSS -->

    <link rel="stylesheet" href="style.css" />


</head>
<body>

<h1> Hello html  </h1>

<ul>
    <li>bullit point 1</li>

        <ul>
            <li>sub list 1</li>
            <li>sub list 1</li>
        </ul>


    <li>Bullit point 2</li>
    <li>bullit point 111</li>
    <li>Bullit point 222</li>
</ul>

<ol>
    <li>Orderedlist point 1</li>
    <li>Orderedlist 2</li>
    <li>Orderedlist 111</li>
    <li>Orderedlist 222</li>
</ol>





<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td class="selected"><a href="https://github.com/Dat17i">Claus</a></td>
        <td class="selected">24</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Anna</td>
        <td>34</td>
    </tr>
    </tbody>
</table>


<h1>Test test</h1>

<p>This is what you see in the browser </p>
<p>Because this is what i wrote in the body part of the document</p>

<h2>Headline a little smaller</h2>

<a href="http://www.dr.dk" id="linkToSomething">This is a link</a>

<p>
<img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Isurus_oxyrinchus_by_mark_conlin2.JPG" width="50%" />
</p>


</body>
</html>